ion-img{
    position: relative;
    padding: 20px 20px;
    background: #e7f0fe;
    height: 100%;
}
ion-content{
    background: #e7f0fe;
    position: relative;
    height: 100vh;
}
ion-buttons{
    background: rebeccapurple;
    z-index: 1099;
    position: relative;
}
ion-icon{

    position: absolute;
    z-index: 1099;
    background: #064094;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    right: 8px;
    top: 8px;
}